body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 128px;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.img-shadow {
    padding: 16px; 
    box-shadow: 0px 0px 16px #888;
    background: white;
}

.mtop32 {
    margin-top: 32px;
}

.mtop128 {
    margin-top: 128px;
}

pre {
    font-family: 'Ubuntu Mono';
}

code {
    font-family: 'Ubuntu Mono';
    white-space: nowrap;
    color: #08F;
    background-color: rgba(0,0,0,0);
    padding: 0px;
}

.img50p {
    width: 50%;
}

.nowrap {
    white-space: nowrap;
}

.flex-center {
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
}