body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 64px;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.toothless-container {
    padding: 16px;
}

.toothless {
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    color: rgb(128,128,128);
    margin-right: 16px;
    margin-left: 8px;
}

.banner {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background: url("/img/bg.svg");
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 128px;
    font-size: 48px;
    /*color: white;*/
}

#logo {
    height: 64px;
    width: 64px;
    position: relative;
    transform: translateY(5px);
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 64px;
}

p {
    margin-top: 32px;
}

.img-step {
    margin-top: 32px;
}

.btn-huge {
    font-size: 64px;
    border-radius: 16px;
}

.highlight {
    background: url("/img/bg.svg");
    background-size: cover;
}

.bigpad {
    padding: 192px;
}