body {
    margin: 0px;
    padding: 0px;
}

.toothless {
    font-family: 'Oswald', sans-serif;
    font-size: 128px;
    color: rgb(128,128,128);
}

.banner {
    width: 100%;
    margin-top: 64px;
    text-align: center;
}

#logo {
    height: 128px;
    width: 128px;
}