<style>

#logo {
    height: 64px;
    width: 64px;
}

#toothless {
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    color: rgb(128,128,128);
    margin-right: 16px;
}

#toothless:hover {
    text-decoration: none;
}

.navlink {
    color: black;
}

.navlink:hover {
    text-decoration: none;
    color: #08F;
}

</style>

 <div style="display: flex; align-items: center; padding: 16px; border-bottom: 2px solid #eee; font-size: 20px">
    <div style="display: flex; align-items: center">
        <a href="/" id="toothless">TOOTHLESS</a>
        <canvas id="logo"></canvas>
    </div>

    <div style="margin-left: auto">
        <a href="/" class="navlink">
            <span class="glyphicon glyphicon-home"></span> About &nbsp;&nbsp;&nbsp;
        </a>
        <a href="/user-docs.html" class="navlink">
            <span class="glyphicon glyphicon-book"></span> Documentation &nbsp;&nbsp;&nbsp;
        </a>
        <a href="/dev-docs.html" class="navlink">
            <span class="glyphicon glyphicon-align-left"></span> Create Apps &nbsp;&nbsp;&nbsp;
        </a>
    </div>
</div>

